
/*  copy & paste all the text below
    this paragraph into to your .env
    or config.env file and fill in
    the actual values of the fields
    Don't leave any space in the lines,
    the spaces below are just to make
    the example easier to read    */


CLIENT=your_actual_Client_baseUrl